NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://qsdms:qsdms@localhost:5432/qsdms_desktop?schema=public
APIFOX_PROJECT_ID=8525101
APIFOX_ACCESS_TOKEN=
APIFOX_ENV_ID=
APIFOX_TEST_SUITE_ID=
APIFOX_OPENAPI_FILE=.generated/openapi.json
